<h3 class="Advantages">Advantages of a Student Management System</h3>
<button (click)="display()">Click to Know More</button>
<div *ngIf="isvisible">
    <p>
        Efficient Data Management –
         Stores and organizes student records, grades, and attendance efficiently.
        Automation of Administrative Tasks –
         Reduces manual work by automating admissions, fee management, and scheduling.
        Improved Communication – 
        Enhances communication between students, teachers, and parents through notifications and portals.
        Better Attendance Tracking –
         Allows for real-time attendance monitoring and reports.
        Streamlined Admissions Process – 
        Simplifies student enrollment, document submission, and application tracking.
        Enhanced Security – 
        Ensures student data privacy with secure access controls.
        Performance Analysis –
         Generates detailed reports on student progress and academic performance.
        Time and Cost Savings –
         Reduces paperwork and administrative workload, saving time and operational costs.
        Accessible Anytime, Anywhere –
         Cloud-based systems enable access from any location with an internet connection.
        Integration with Other Systems –
         Can be linked with finance, HR, and learning management systems for seamless operations.</p>
  </div>

